<header id="header">
	<div class="container header_content">
		<div id="logo">食全食美</div>
		<nav id="nav">
			<ul>
				<li><a href="{:U('Index/index')}">首&nbsp;&nbsp;页</a></li>
				<li><a href="{:U('Menu/Menu')}">查看菜单</a></li>
				<!-- <li><a href="#">菜谱推荐</a></li> -->
				<li><a href="{:U('Circumstance/circumstance')}">餐厅环境</a></li>
				<li><a href="{:U('Liuyan/liuyan')}">用户评价</a></li>
			</ul>
		</nav>
		
		<div class="login_and_register">
			<span><a href="{:U('Index/login')}">登录</a></span>
			<span><a href="#">/</a></span>
			<span><a href="{:U('Index/register')}">注册</a></span>
		</div>
		
	</div>	
</header>

