<layout name="layout" />
	<div class="container">
		<div class="row">
			<div class="grid_4">
				<div class="banner">
					<div class="gallery_block">
						<img src="__PUBLIC__/Home/image/recommendation/zaoxiangsanhuangji.png" alt="">
						<div class="banner_capt bn_1">
							<img src="__PUBLIC__/Home/image/icon1.png" alt="">
							<hgroup class="name_price">
								<p>糟香三黄鸡</p>
								<strong>￥23.3</strong>
							</hgroup>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="banner">
					<div class="gallery_block">
						<div class="banner_capt bn_2">
							<img src="__PUBLIC__/Home/image/icon2.png" alt="">
							<hgroup class="name_price">
								<p>花生冰激凌</p>
								<strong>￥23.3</strong>
							</hgroup>
						</div>
						<img src="__PUBLIC__/Home/image/recommendation/huashengbingjiling.png" alt="">
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="banner">
					<div class="gallery_block">
						<img src="__PUBLIC__/Home/image/recommendation/hongyaodounanguadoujiang.png" alt="">
						<div class="banner_capt bn_3">
							<img src="__PUBLIC__/Home/image/icon3.png" alt="">
							<hgroup class="name_price">
								<p>红豆南瓜豆浆</p>
								<strong>￥23.3</strong>
							</hgroup>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="grid_drinking">
				<div class="drinking">
					<i></i>
					<img src="__PUBLIC__/Home/image/drink1.jpg" alt="">
				</div>
				<p class="drinking_discription">番茄意大利面是一个色香味俱全的菜，主要以番茄酱作为佐料；意大利面主要营养成分有蛋白质、碳水化合物等，易于消化吸收，有改善贫血、增强免疫力、平衡营养吸收等功效。</p>
			</div>
			<div class="grid_drinking">
				<div class="drinking">
					<i></i>
					<img src="__PUBLIC__/Home/image/drink2.jpg" alt="">
				</div>
				<p class="drinking_discription">草莓它是一款受欢迎程度极高的水果，长得形状又萌又可爱，颜色还总是娇艳欲滴。用草莓做各种蛋糕，草莓也总能与它们完美融合，真是美貌与口感俱佳。</p>
			</div>
			<div class="grid_drinking">
				<div class="drinking">
					<i></i>
					<img src="__PUBLIC__/Home/image/drink3.jpg" alt="">
				</div>
				<p class="drinking_discription">马卡龙，又称作玛卡龙、法式小圆饼，是一种用蛋白、杏仁粉、白砂糖和糖霜制作，并夹有水果酱或奶油的法式甜点。口感丰富，外脆内柔，外观五彩缤纷，精致小巧。</p>
			</div>
		</div>
		<div class="row store_intro">
			<div class="welcome">
				<hgroup class="store_hgroup">
					<h2>欢迎您~</h2>
					<p>
					感谢您选择我们食全食美餐厅，您的支持与信任是我们持续上升的动力。为了使您能通过本网站更透彻地了解我们餐厅，我们将特别为您提供一系列的服务，包括：<br>
						1．查看餐厅菜单<br>
						2．在线预订<br>
						3．会员享有优惠
					</p>
				</hgroup>
			</div>
			<div class="about_store">
				<hgroup class="store_hgroup">
					<h2>享受生活的滋味</h2>
					<p>
					本餐厅一直全力打造集健康、美味、丰富、便捷为一体的综合性快餐模式，各地特色小吃，原汁原味，满足您挑剔的味蕾；更新开辟咖啡厅，提供特调咖啡、热饮，花式调酒、精美点心等，环境典雅舒适；专业的厨师团队，开发和研究新派融合菜，定期推出特色菜品，聘请专业艺术团队研发造型，让食全食美每一款菜品成为一件艺术品，让客人感受别样的饮食文化。<br>
					</p>
				</hgroup>
			</div>
		</div>
		<div class="row room_recommend">
			<h1>餐厅环境</h1>
			<div class="room_gallery">
				<div class="rooms">
					<div class="set_image">
						<img src="__PUBLIC__/Home/image/recommendation/包间2.jpg" alt="">
						<!-- <i><strong>¥403</strong><a href="">more+</a></i> -->
					</div>
					<div class="ribbon_wrapper">
				      <div class="ribbon">凌霄阁</div>
				    </div>
				</div>
				<div class="rooms">
					<div class="set_image">
						<img src="__PUBLIC__/Home/image/recommendation/包间3.jpg" alt="">
						<!-- <i><strong>¥403</strong><a href="">more+</a></i> -->
					</div>
					<div class="ribbon_wrapper">
				      <div class="ribbon">凌霄阁</div>
				    </div>
				</div>
				<div class="rooms">
					<div class="set_image">
						<img src="__PUBLIC__/Home/image/recommendation/包间4.jpg" alt="">
						<!-- <i><strong>¥403</strong><a href="">more+</a></i> -->
					</div>
					<div class="ribbon_wrapper">
				      <div class="ribbon">凌霄阁</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	