<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录和注册页面</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/login_register.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/register.js"></script>
	<script type="text/javascript">
		
	</script>
	<style type="text/css">
		
	</style>
</head>
<body>
<div class="container" id="register">
	<form id="register_form" method="post" action="">
		<fieldset>
			<legend>新用户请注册</legend>
			<p class="group_p">
				<label for="username">用户名</label>
				<input id="username" name="username" type="text">
			</p>
			<p class="group_p">
				<label for="telephone">手机号码</label>
				<input id="telephone" name="telephone" type="text">
			</p class="group_p">
			<p class="group_p">
				<label for="password">密&nbsp;&nbsp;码</label>
				<input id="password" name="password" type="password">
			</p>
			<p class="group_p">
				<label for="confirm_password">确认密码</label>
				<input id="confirm_password" name="confirm_password" type="password">
			</p>
			<p class="group_p">
				<input class="submit" type="submit" value="注册">
			</p>
		</fieldset>
	</form>
</div>
</body>
</html>